h1 {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-family: 'Tilt Prism', cursive;
    color: #ccc;
  }
  
  h2 {
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-family: 'Tilt Prism', cursive;
    color: #ccc;
    font-size: 30px;
  }
  p {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
  }
  
  h1 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
  }
  